$color-primary: #f8ede3;
$color-secondary-1: #dfd3c3;
$color-secondary-2: #d0b8a8;
$color-secondary-3: #7d6e83;
$color-light: #f5f5f5;
$color-dark: #2c3639;

$fs-h1: 72px;
$fs-h2: 64px;
$fs-h3: 54px;
$fs-h4: 36px;
$fs-h5: 28px;
